@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap');
:root {
    --main-font: 'Roboto', sans-serif;
    --white: #FAFAFB;
    --blury: rgb(238, 238, 238);
    --text-color: rgb(54, 69, 90);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.3;
    color: var(--text-color);
    font-family: var(--main-font);
    background-image: linear-gradient(to right bottom, #5CE0D4, #3FB1D8, #2987DB, #4664DF, #7C5AE4, #6544c9, #5638af, #7f55c4, #A861E9);
    width: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

.container {
    max-width: 90%;
    margin: 5rem auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 6fr;
}

.inner-container {
    width: 90%;
    margin: auto;
}

.active-link {
    font-weight: bold;
    border-bottom: 2.5px solid #2E7EF4
}


/* info section */

.info-section {
    background-color: var(--white);
    border-radius: 20px;
    text-align: center;
}

.info-section img {
    border-radius: 50%;
    width: 120px;
    margin-top: 2rem;
}

p.name {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.developer {
    display: inline-block;
    background-color: var(--blury);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    font-family: 'Courgette', cursive;
    font-size: 1.1rem;
}

.developer span {
    font-size: 1.1em;
}

.social-media {
    margin-top: 1rem;
}

.social-media i {
    font-size: 1.7rem;
    padding: 0.5rem;
}

.information {
    background-color: var(--blury);
    padding: 1.5rem;
    margin-top: 2rem;
}

.information div {
    display: flex;
}

.information i {
    padding: 0.5rem 2rem;
}

.information div p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.email {
    display: inline-block;
    background-image: linear-gradient(to bottom, #266DF4, #3183F4);
    border-radius: 20px;
    padding: 0.8rem 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.email a {
    color: #fff;
}


/* body section */

.body-section {
    background-color: var(--white);
    border-radius: 20px;
}

.nav-bar {
    background-color: var(--blury);
    border-radius: 20px 20px 0 0;
}

.nav-bar ul {
    display: flex;
    padding: 1.5rem 0;
}

.nav-bar li {
    padding-right: 1.5rem;
}

.nav-bar a {
    font-size: 1.5rem;
}

.nav-bar a:hover {
    color: #2E7EF4;
}

.menu-bar {
    display: none;
}

.about-me {
    margin-top: 1.2rem;
    font-size: 1.3rem;
}

.about-me .text-big {
    font-size: 3rem;
}

.what-i-doing {
    background-color: var(--blury);
    margin-top: 2.6rem;
    border-radius: 0 0 20px 20px;
}

.what-i-doing h2 {
    padding-top: 1.5rem;
}

.boxes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.box {
    background-color: var(--white);
    display: flex;
    padding: 2rem;
}

.box i {
    font-size: 2rem;
    color: #385AF3;
    padding-right: 1.5rem;
}

.box h3 {
    padding-bottom: 0.6rem;
}


/* small screen */

@media (max-width:960px) {
    .container {
        max-width: 88%;
        margin: 4rem auto;
        grid-template-columns: 1fr;
    }
    .information div {
        width: 45%;
        margin: auto;
        text-align: center;
    }
    .information {
        margin-top: 1.5rem;
    }
    .email {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width:600px) {
    .container {
        max-width: 95%;
        margin: 0.5rem auto 0.8rem;
    }
    .info-section,
    .body-section {
        width: 100%;
    }
    .information div {
        width: 100%;
    }
    .boxes-container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .about-me {
        font-size: 1.2rem;
    }
    .about-me .text-big {
        font-size: 2rem;
    }
    .nav-bar a {
        font-size: 1.3rem;
    }
    .hide-nav-link {
        display: none;
    }
    .menu-bar {
        display: block;
        flex-grow: 1;
        text-align: right;
    }
    .menu-bar i {
        font-size: 1.7rem;
    }
}